body{
    background-color: rgb(228, 223, 218);
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: hidden;
}

h1, h2, h3, h4{
    padding: 0;
    margin: 0;
}

.menu{
    background-color: #4357AD;
    height: 100vh;
    min-width: 200px;
    width: 10vw;
}

.detailsButton{
    width: 100%;
    height: 56px;
    border: none;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detailsMenu{
    margin-bottom: 10px;
    cursor: pointer;
}

.detailsMenu[open] .detailsButton {
    background-color: #354485;
    border-bottom: none;
}

.menuButton{
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: white;
    cursor: pointer;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: none;
}

.open{
    display: block;
}

.closed{
    display: none;
}

#page_devices .content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 40px;
}

.tableView{
    background-color: #b1ada9;
    border-radius: 6px;
    border: solid;
    border-width: 1px;
    border-color: #928f8b;
    width: 100%;
    height: 400px;
}

.tableView .item {
    margin: 2px;
    padding: 5px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #0000003b;
    cursor: pointer;
}

.tableView .selected {
    background-color: #00000017;
}

#page_screen .content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 40px;
}

.button{
    padding: 8px;
    outline: none;
    border: solid;
    border-radius: 6px;
    background-color: #d3cec9;
    border-color: #928f8b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.loader{
    width: 32px;
    height: 32px;
    animation: loader 1000ms linear infinite;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.screenshotresult{
    width: 100%;
    height: 100%;
}

#page_command .content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 40px;
}

.textbox{
    padding: 8px;
    outline: none;
    border: solid;
    border-radius: 6px;
    background-color: #d3cec9;
    border-color: #928f8b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.alert{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* === */
    display: none;
}

.alert .content{
    background-color: rgb(228, 223, 218);
    width: 60vw;
    height: 80vh;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content .header{
    background-color: #4357AD;
    width: 100%;
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
}

.header .close{
    position: absolute;
    right: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.header .title{
    margin-left: 16px;
    color: white;
}

.alertIframe{
    width: 100%;
    height: calc(100% - 56px);
    border: 0;
}